/*css reset*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.debug {
    * {
        border: 1px solid black;
    }
}

/*common*/

img {
    max-width: 100%;
}

/*dekstop version*/

.wrapper {
    height: 100vh;
    background-color: aquamarine;
    overflow: hidden;
    
    
    .top {
        height: calc(100% - 90px);
        background-color: red;
        display: flex;

        .sidebar {
            height: 100%;
            background-color: green;
            width: 230px;

            .list {

                li {

                    font-size: 1.2rem;

                    .list_side_top {
                        width: 10%;
                        vertical-align: bottom;
                    }
                }
            }
        }

        .card {
            height: 100%;
            width: calc(100% - 230px);
            background-color: rgb(210, 30, 192);
            overflow-y: auto;

            .nav {
                height: 90px;
                background-color: rgba(0, 17, 255, 0.403);
                
            }
        }
    }


    

    .bottom {
        height: 90px;
        background-color: yellow;
    }
}

