/*css reset*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
   
}


.debug {
    * {
        border: 1px solid black;


        .col {
            min-height: 260px;
        }
    }


}

/*common*/

img {
    max-width: 100%;
    vertical-align: middle;
}

a {
    text-decoration: none;
    

    
}



a:visited {
    color: currentColor;
}


li {
    list-style: none;
}

h2 {
    color: white;
}


/*utilis*/


.song {
    color: white;
}

.artist {
    color: #75787c;
}

.rounded {
    border-radius: 50%;
}

.relative {
    position: relative;
}

.greenborder_list {
    background-color: greenyellow;
    width: 8px;
    height: 100%;
    position: absolute;
    top: 0;
    visibility: hidden;
}

.greenborder_main {
    background-color: greenyellow;
    visibility: hidden;
    position: absolute;
    width: 30%;
    height: 15%;  
    bottom: 0;
    left: 35%;
    

}






/* hover */

a:hover {
    color: white;

    .greenborder_list {
    visibility: visible;
    }

    .greenborder_main {
        visibility: visible;
    }


   
    
}

.card_head:hover {
    .play_hover {
        visibility: visible;
    }

}

.play_hover {
    background-color: #000000cc;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
}
.play_hover_play {
    color: white;
    font-size: 3rem;
    cursor: pointer;
    
}


/*dekstop version*/

.wrapper {
    height: 100vh;
    background-color: aquamarine;
    overflow: hidden;
    
    
    .top {
        height: calc(100% - 90px);
        background-color: red;
        display: flex;

        .sidebar {
            height: 100%;
            background-color: black;
            width: 230px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            color: #75787c;
            font-size: 0.7rem;
            font-weight: 700;
            overflow: hidden;
            overflow-y: auto;
            

            
            

            .list {

                .logo_big {
                    width: 90%;
                    padding: 0.5rem 1.5rem;
                }

                .logo_small {
                    display: none;

                }

                

                li {

                    
                    padding: 0.2rem 0;
                    display: flex;
                    align-items: flex-start;

                    

                    .list_side_top {
                        width: 25px;
                        vertical-align: middle;
                        filter: brightness(0.5);
                        margin-left: 1.5rem;
                        
                    }
                }

                p {
                    
                    text-transform: uppercase;
                    padding: 0.2rem 1.5rem;
                    font-weight: 800;
                    font-size: 0.8rem;
                }

                .add_play {

                    
                    padding: 0.2rem 1.5rem;
                

                    .plus {
                        display: inline-block;
                        height: 38px;
                        width: 38px;
                        background-color: gray;
                        vertical-align: middle;
                        position: relative;
                        margin: 0.5rem 0;

                        i {
                            
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%, -50%);
                        }
                    }
                }

                .bott_list {
                    
                    li {
                        padding: 0.3rem 1.5rem;
                    }
                }
            }

            .list_side_bottom{

                padding: 0 1rem;

                a {
                    display: block;
                    padding: 0.5rem 0;


                    img {
                        width: 15px;
                        margin-right: 0.5rem;
                    }
                }

                hr {
                    color: gray;
                    border: 1px solid;

                }

                .gray_round {
                    padding: 0.5rem 0;
                    font-size: 0.8rem;
                    font-weight: 800;
                    

                    img {
                        width: 30px;
                        height: 30px;
                        background-color: gray;
                        border-radius: 50%;
                        margin-right: 0.5rem;
                    }
                }


            }








        }


        main {
            width: calc(100% - 230px);
            padding: 0 1rem;
            font-size: 0.9rem;
            font-weight: 800;
            overflow: hidden;
        


            .nav {
                    height: 90px;
                    background-color: #080b12;
                    display: flex;
                    justify-content: flex-end;
                    align-items: center;
                    margin: 0 -1rem;
                    
                    a {
                        border: 2px solid white;
                        padding: 0.5rem 1rem;
                        border-radius: 20px;
                        margin-right: 0.5rem;
                        text-transform: uppercase;
                        font-size: 0.7rem;
                        color: white;
                    }



            }







            .album {
                height: 100%;
                background-color: #141922;
                overflow-y: auto;
                padding: 0 1rem;
                margin: 0 -1rem;
                padding-bottom: 90px;

                

                .card_menu_top {
                    text-align: center;
                    color: #75787c;
                    width: 80%;
                    margin: 0 auto;
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: center;

                    a {
                        text-transform: uppercase;
                        font-size: 0.7rem;
                        display: inline-block;
                        padding: 0.5rem;
                        font-weight: bold;
                    }
                }

                .row {
                    display: flex;
                    flex-wrap: wrap;
                    margin: 1rem -1rem;

                    .col {
                        width: calc(100% / 12 * 2);
                         padding: 0 1rem;
                        
                        

                        .card {
                            
                           

                            
                        


                            .card_body {
                                display: flex;
                                flex-direction: column;
                                align-items: center;


                                .song {
                                    padding: 0.5rem 0;
                                    text-align: center;
                                }

                                .artist{
                                    font-size: 0.7rem;
                                }
                            }
                        }   
                    }
                }
            }
        }
    }


    

    .bottom {
        height: 90px;
        background-color: #282828;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0.5rem;
        color: white;
        font-size: 0.7rem;

        .like_song {
            display: flex;
            width: 180px;
            justify-content: space-evenly;
            

            .brano {
                display: flex;
                align-items: center;
                margin-right: 0.5rem;
                

                img {
                    width: 43px;
                    height: 43px;

                }

                .brano_details {
                    padding-left: 0.5rem;
                    
                    
                }
            }

            .like {
                align-self: center;
                color: #75787c;
                font-size: 0.9rem;
            }

            
        }

        .player {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 0.5rem;
            width: calc(100% / 12 * 5);

            .commands {
                width: 160px;             
                display: flex;
                justify-content: space-between;
                font-size: 1rem;
            }

            .time {
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 100%;
                font-size: 0.6rem;

                .time_total {
                    height: 5px;
                    width: 85%;
                    background-color: gray;
                    border-radius: 3px;
                    margin: 0 0.5rem;

                    .time_actual {
                        height: 5px;
                        width: 25%;
                        background-color: white;
                        border-radius: 3px;
                    }
                }
            }
        }

        .volume {

            
            width: 180px;
            justify-content: space-between;
            

            .icon_left {
                display: flex;
                align-items: center;
                justify-content: space-evenly;

                .volume_right_total {
                    width: 60%;
                    height: 5px;
                    background-color: gray;
                    border-radius: 3px;

                    .volume_right_actual {
                        height: 5px;
                        width: 25%;
                        background-color: white;
                        border-radius: 3px;

                    }

                }
            }

        }

    }
    
}


/*mediaqueries*/

@media screen and (max-width: 1362px) {

    .wrapper {
        .top {
            main {
                .album {
                    .row {
                        .col {
                            .card {
                                .card_head {
                                    width: 100%;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
    

@media screen and (max-width: 878px) {

    .wrapper {
        .top {
            main {
                .album {
                    .row {
                        .col_md_3 {

                            width: calc(100% / 12 * 3);


                            .card {
                                .card_head {
                                    width: 100%;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
     
    
}

@media screen and (max-width: 639px) {

    .wrapper {
        .top {
            main {
                .album {
                    .row {
                        .col_sm_6 {

                            width: calc(100% / 12 * 6);


                            .card {
                                .card_head {
                                    width: 100%;
                                }
                            }
                        }
                    }
                }
            }
        }

        .bottom {
            .like_song {
                width: 155px;
            }

            .player {
                .commands {
                    width: 90%;
                }
            }

            .volume {
                width: 190px;
            }

        }

    }



}

@media screen and (max-width: 552px) {
    .wrapper {
        .top {
            .sidebar {

                width: 50px;

                .logo {
                    position: relative;
                    width: 50px;
                    height: 50px;

                    .logo_big {
                        display: none;
                    }
                


                    .logo_small {
                        display: block;
                        width: 44%;
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        
                        transform: translate(-50%, -50%);
                    }
                }

                .list {
                    li {
                        a {
                            visibility: hidden;
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            width: 100%;
                        }
                        .list_side_top {
                           visibility: visible;
                           margin: 0;
                        }
                    }

                    .playlist {
                        visibility: hidden;
                    }

                    .bott_list {
                        visibility: hidden;
                    }
                }

                .list_side_bottom  {
                    
                    padding: 0;

                    a {

                        
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        width: 100%;

                        .list_side_bottom_visible {
                        visibility: visible;
                        margin: 0;
                        
                        }

                        p {
                            display: none;
                        }

                    }

                    hr {
                        display: none;
                    }



                    
                }
            }

            main {
                width: calc(100% - 50px)
            }

            
        }
    }
}
    

